<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funnyface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.funnyface.User_Options"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.funnyface.PictureEdit"
            android:label="@string/title_activity_picture_edit"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.funnyface.PhotoSelection"
            android:label="@string/title_activity_photo_selection"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.funnyface.UserPhotoSelection"
            android:label="@string/title_activity_user_photo_selection"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.funnyface.UserPhotoOptions"
            android:label="@string/title_activity_user_photo_options"
            android:parentActivityName="com.example.FunnyFace.User_Options"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.FunnyFace.User_Options" />
        </activity>
        <activity
            android:name="com.example.funnyface.ViewDataBase"
            android:label="@string/title_activity_view_data_base"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.funnyface.PhotoEditing"
            android:label="@string/title_activity_photo_editing"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.funnyface.Testpic"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_testpic"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.funnyface.CameraIntent"
            android:label="@string/title_activity_camera_intent" >
        </activity>
    </application>

</manifest>